body {
    margin: 0;
}
.container {
    width: 75%;
    margin: 0 auto;
}
header {
    /* position: sticky; */
    top: 0;
    background-color: rgb(110, 238, 195);
    padding-top: 20px;
    min-height: 70px;
    border-bottom: 5px solid rgb(127, 197, 255);
}
.profile {
    /* float: right; */
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* float: left; */
}
.main-menu {
    display: flex;
    justify-content: space-between;
}

@media all and (max-width:600px) { 
.main-menu {
    flex-direction: column;
    align-items: center;
}

.navigation {
    flex-direction: column;
    align-items: center;
    }
.flex-wrapper {
    flex-direction: column;

}
}

/* .clearfix::after{ 
    content: "";
    clear: both;
    display: block; 
}   */
.main-menu a{
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
    color: black ;
    text-decoration: 15px;
    margin-right: 15px;
}

.sidebar {
    display: flex;
    /* float: left;  */
    width: 220px;
    padding: 20px;
    box-sizing: border-box;
    /* justify-content: left; */
    /* margin-right: 30px; */
}
.sidebar section{
    width: 250px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-center;
}
.form-group {
    margin-bottom: 5px;
}
main {
    padding-top: 10px;
}
.goods-list {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 250px; */
    padding-top: 20px;
    justify-content: space-between;
}
.goods {
    border: 1px solid black;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    min-width: 250px;
}
.good-img img{
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.price-and-buy{
    height: 50px;
}
.price{
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-color: rgb(110, 238, 195);
    color: azure;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px
}
.buy {
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-color:rgb(127, 197, 255);
    color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px
}
.pagination {
    /* margin-left: 250px; */
    padding-top: 20px;
    /* text-align: right; */
}
.pagination .btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(7, 190, 223);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.pagination .btn.active{
background-color: rgb(70, 37, 255);
color: black;
}
